body {
	margin: 0;
	padding: 0;
	background-color: #12d9f7;
	height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: auto;
	border: 1px solid #e44c4c;
	background-color: #1748db7b;
  }
  #login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
	margin-top: -85px;
  }
  .space {
	  width: 100%;

  }